{% extends "layouts/main.html" %}

{% block maincontent %}
	<style type="text/css">
		.rigid { width: 330px; }
		.box { height: initial }
		.labs { font-size: large; }
		.left-indent-sm { margin-left: 10px; }
		.left-indent-lg { margin-left: 100px; }
		.close:hover { opacity: 1; color: red; }
		.right-indent-lg { margin-right: 100px; }
		.clear { clear: both; height: 3px; display: table-caption; }
	</style>

	<div class="container" style="width: 85%; margin-bottom: 3%;">
		<div class="text-right col-md-12">
			<div class="col-md-9"></div>
			<div class="col-md-3">
			<h3> {{local_user.name}} {{local_user.last_name}} </h3>
			</div>
		</div>
		<br/>
		<br/>

		<!-- new meal PLANS button! -->
		<button class="col-md-1 btn btn-default" title="oink btn-xs" data-toggle="collapse" data-target="#newMealPlan">
		New Plan</button>
		<div class="col-md-6">&nbsp;</div>
		<div class="col-md-2">
			<div id="newMealPlan" class="col-md-10 panel-collapse collapse" style="max-height: 22px">
				<form action="/new_mealplan" method="post">
					<input name="name" placeholder="Meal Plan Name" required class="btn">
					<input type="hidden" name="user" value={{user_id}}>
					<button type="submit" class="hide"></button>
				</form>
			</div>
		</div>
		<div class="col-md-1">&nbsp;</div>
		
		<div class="col-md-2" style="text-align: right">
			<a href="\new_food"><button class="btn btn-primary">Create New Food</button></a>
		</div>

		<div style="clear:both;"></div>

		<h1 class="text-center">Meal Dashboard</h1>

		{% if mealplans %} 
		<br />
		<div style="clear:both;"></div>

		{% for mealplan in mealplans %}
		<br />
		<!-- add styling later -->
		<div class="clear col-md-12" >
			<!-- TURN INTO TABLE -->
			<div class="col-md-3">&nbsp;</div>
		</div>
		<div style="clear:both;"></div>
		<div class="col-md-12">
			<div class="col-md-1"><h3 style="font-weight: bold;">{{mealplan.name}}</h3></div>
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-1 text-center">Amount</div>
			<div class="col-md-2 text-center">Calories</div>
			<div class="col-md-2 text-center">Protein</div>
			<div class="col-md-2 text-center">Carbs</div>
			<div class="col-md-2 text-center">Fat</div>
			<div class="pull-right" style="margin-top: -20px;">
				<form action="/delete_meal" method="post" style="margin-top: 20px">
				<input type="hidden" name="id" value="{{mealplan.key.id()}}">
				<button class="btn btn-danger btn-sm" type="submit">Delete</button>
				</form>
			</div>
			<div style="clear:both;"></div>
		</div>

		<div class="col-md-12">
			<button class="col-md-1 btn btn-default btn-xs" data-toggle="collapse" data-target="#{{mealplan.key.id()}}">
			New Meal</button>
			<div id="{{mealplan.key.id()}}" class="col-md-10 panel-collapse collapse" style="max-height: 22px">
				<div class="col-md-9">&nbsp;</div>
				<form action="/new_meal" method="post">
					<input type="hidden" name="plan" value={{mealplan.key.id()}}>
					<input name="name" placeholder="Meal Name" required class="btn">
					<button class="hide" type="submit"></button>
				</form>
			</div>
			<div style="clear:both;"></div>
		</div>
		
		<br />
		<br />

		<!-- new meal button! -->
		<!-- need some dynamic shit here	 -->
		{% for meal in mealplan.getMeals() %}
		{% if meal %}
		<div class="col-md-12">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-11"><h3>{{meal.name}}</h3></div>
		</div>
		<!-- ADD FOOD button! -->
		<div class="col-md-12">
			<div class="col-md-1">&nbsp;</div>
			<button class="col-md-1 btn btn-default btn-xs" data-toggle="collapse" data-target="#{{meal.key.id()}}">
			New Food</button>
			<div id="{{meal.key.id()}}" class="col-md-10 panel-collapse collapse" style="max-height: 22px">
				<form action="/add_food" method="post" class="pull-left">
					<input type="hidden" name="meal" value={{meal.key.id()}}>
					<input name="food" placeholder="Choose Food" required class="btn" autocomplete="off" list="foodNames">
					<datalist id="foodNames">
						{% for f in foodNames %}
							<option value="{{f.name}}+{{f.key.id()}}">
						{% endfor %}
					</datalist>
					<!-- need some dynamic shit here -->
					<button class="btn btn-primary" type="submit">OK</button>
				</form>
			</div>
			<div class="pull-right" style="margin-top: -20px;">
				<form action="/delete_meal" method="post" style="margin-top: 20px">
				<input type="hidden" name="id" value="{{meal.key.id()}}">
				<button class="btn btn-warning btn-sm" type="submit">Delete</button>
				</form>
			</div>
			<div style="clear:both;"></div>
		</div>

		{% for food in meal.getFoods() %}
		{% if food %}
		<div class="col-md-12">
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-1">{{food.name}}</div>
			<!-- <div class="col-md-1"> <input type=number min=1 value=1> </div> -->
			<div class="col-md-1 text-center">{{food.amount}}</div>
			<div class="col-md-2 text-right">{{food.calories}}</div>
			<div class="col-md-2 text-right">{{food.protein}}</div>
			<div class="col-md-2 text-right">{{food.carbs}}</div>
			<div class="col-md-2 text-right">{{food.fat}}</div>
			<div class="pull-right" style="margin-top: -40px;">
				<form action="/delete_food" method="post" style="margin-top: 20px">
				<input type="hidden" name="id" value="{{food.key.id()}}">
				<input type="hidden" name="meal" value="{{meal.key.id()}}">
				<button class="close" type="submit"><span>&times;</span></button>
				</form>
			</div>
		</div>
		<div style="clear:both;"></div>
		
		<!-- figure out the delete -->

		{% endif %}
		{% endfor %}


		{% endif %}
		{% endfor %}

		<div class="col-md-12">&nbsp;</div>
		<div style="clear:both;"></div>

		<div class="col-md-12">
			<div class="col-md-4 text-center">Total</div>
			{% for atr in mealplan.sum_everything() %}
			<div class="col-md-2 text-right">{{atr}}</div>
			{% endfor %}
		</div>		
		<div class="col-md-12">
			<div class="col-md-4 text-center">Target</div>
			{% for atr in local_user.getPreferences() %}
			<div class="col-md-2 text-right">{{atr}}</div>
			{% endfor %}
		</div>
		<div class="col-md-12">
			<div class="col-md-4 text-center">Net Target</div>
			<div class="col-md-2 text-right">
			{% if local_user.caloriesTarget - mealplan.calories > 0 %}
				{{local_user.caloriesTarget - mealplan.calories }}
			{% else %}
				{{ (local_user.caloriesTarget - mealplan.calories)*-1  }}
			{% endif %}
			</div>
			<div class="col-md-2 text-right">
			{% if local_user.proteinTarget - mealplan.protein > 0 %}
				{{local_user.proteinTarget - mealplan.protein }}
			{% else %}
				{{ (local_user.proteinTarget - mealplan.protein)*-1  }}
			{% endif %}
			</div>
			<div class="col-md-2 text-right">
			{% if local_user.carbsTarget - mealplan.carbs > 0 %}
				{{local_user.carbsTarget - mealplan.carbs }}
			{% else %}
				{{ (local_user.carbsTarget - mealplan.carbs)*-1  }}
			{% endif %}
			</div>
			<div class="col-md-2 text-right">
			{% if local_user.fatTarget - mealplan.fat > 0 %}
				{{local_user.fatTarget - mealplan.fat }}
			{% else %}
				{{ (local_user.fatTarget - mealplan.fat)*-1  }}
			{% endif %}
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />	
		<br />

		{% endfor %}
		{% endif %}
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".tooltips").tooltip();
			$(".fa").click(function () {
				$(this).toggleClass("fa-search-plus").toggleClass("fa-search-minus")
			});
		})
	</script>

{% endblock %}