{% if dashboard %}
	{% extends "views/profile.html" %}
{% else %}
	{% extends "views/new_food.html" %}
{% endif %}

{% block foodform %}
	<div>
		<h3>New Food</h3>
		<form action="/new_food" method="post" data-parsley-validate>
			<div class="form-group">
				<br />
				<div class="col-sm-2">
					<input name="name" placeholder="Food (e.g., chicken)" required class="form-control" type="text">
				</div>
				<div class="col-sm-2">
					<input name="amount" placeholder="Amount (oz)" required class="form-control" data-parsley-type="number" min="0" step="any">
				</div>
				<div class="col-sm-2">
					<input name="calories" placeholder="Calories" required class="form-control" data-parsley-type="number" min="0" step="any">
				</div>
				<div class="col-sm-2">
					<input name="protein" placeholder="Protein" required class="form-control" data-parsley-type="number" min="0" step="any">
				</div>
				<div class="col-sm-2">
					<input name="carbs" placeholder="Carbs" required class="form-control" data-parsley-type="number" min="0" step="any">
				</div>
				<div class="col-sm-2">
					<input name="fat" placeholder="Fat" required class="form-control" data-parsley-type="number" min="0" step="any">
				</div>
				<br />
			</div>
			<button class="btn btn-success pull-right" type="submit">Create New</button>
		</form>
	</div>
	<div style="clear:both;"></div>
	<footer>
		<br />
		<br />
		<br />
		<b>Note: </b>Besides using our predifined foods you can create your own. Keep in mind how you cook it when entering the nutrional facts. For example fried chicken has more fat than grilled chicken.  
	</footer>
{% endblock %}
