<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meal Planner</title>
    <link href="s/mealplanner.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-git1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="s/scrolling-nav.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/s/parsley.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.2/parsley.js"></script>    
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="#page-top">Meal Planner</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
                    <li><a class="page-scroll" href="#learn">Learn</a></li>
                    <li><a class="page-scroll" href="#join">Join</a></li>
                </ul>
                <div class="navbar-form navbar-right">
                    <a class="btn btn-primary" href="/login">Login</a>
                </div>
            </div>
        </div>
    </nav>

    <div id="intro" class="container">
        <h1 id="greeting">Build your own customized meal plan.</h1>
        <br>
        <a class="btn-circle page-scroll fa fa-angle-double-down animated" href="#learn"></a>
    </div>
    <div id="custome" class="container"></div>
    <div id="learn" class="container">
        <h1>What you need</h1>
        <p>There are a million theories on what the right diet is to get the body that you want. Meal Planner provides a sleek interface </p><p>that allows you to create your own diet based on your own thories.</p>
        <br><br>
        <a class="btn-circle page-scroll fa fa-angle-double-down animated" href="#join"></a>
    </div>
    <div id="join">
        {% block maincontent %}{% endblock %}
    </div>
</body>
</html>