{% extends "layouts/main.html" %}

{% block maincontent %}
	<style type="text/css">
		.rigid { width: 330px; }
		.box { height: initial }
		.labs { font-size: large; }
		.left-indent-sm { margin-left: 10px; }
		.left-indent-lg { margin-left: 100px; }
		.close:hover { opacity: 1; color: red; }
		.right-indent-lg { margin-right: 100px; }
		.clear { clear: both; height: 3px; display: table-caption; }
	</style>

	<div class="container">
		<h2 class="text-right">
			<span title="Your Gravatar" class="tooltips"><img class="circle gravatar" src="{{local_user.gravatarize()}}"></span>
			{{local_user.name}} {{local_user.last_name}}
		</h2>
		<br/>
		<br/>
		<!-- new meal button! -->
		{% if meals %}
		{% for meal in meals %}
			<!-- have a  -->
			<!-- have this hidden unless a '+' is clicked -->
			{% block foodform %}{% endblock %}
		{% endfor %}
		{% endif %}
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".tooltips").tooltip();
			$(".fa").click(function () {
				$(this).toggleClass("fa-search-plus").toggleClass("fa-search-minus")
			});
		})
	</script>

{% endblock %}