{% extends "layouts/main.html" %}

{% block maincontent %}
	<style type="text/css">
		.rigid { width: 330px; }
		.box { height: initial }
		.labs { font-size: large; }
		.left-indent-sm { margin-left: 10px; }
		.left-indent-lg { margin-left: 100px; }
		.close:hover { opacity: 1; color: red; }
		.right-indent-lg { margin-right: 100px; }
		.clear { clear: both; height: 3px; display: table-caption; }
	</style>

	<div class="container" style="width: 85%">
		<h2 class="text-right">
			<span title="Your Gravatar" class="tooltips"><img class="circle gravatar" src="{{local_user.gravatarize()}}"></span>
			{{local_user.name}} {{local_user.last_name}}
		</h2>
		<br/>
		<br/>
		<!-- new meal PLANS button! -->
		<div class="col-md-10">
			<button class="col-md-1 btn btn-default" title="oink" data-toggle="collapse" data-target="#newMealPlan">
			New Plan</button>
			<div id="newMealPlan" class="col-md-10 panel-collapse collapse">
				<form action="/new_mealplan" method="post" class="pull-right">
					<input name="name" placeholder="Meal Plan Name" required class="btn"	>
					<input type="hidden" name="user" value={{user_id}}>
					<button class="btn btn-primary" type="submit">OK</button>
				</form>
			</div>
			<div style="clear:both;"></div>
		</div>
					
		<div class="col-md-2">
			<a href="\new_food"><button class="btn btn-primary" >Add Food to DB</button></a>
		</div>

		{% if mealplans %} 
		<!-- This is comming from users... -->
		<br />
		<br />
		<!-- <div class="col-md-1">&nbsp;</div> -->

		{% for mealplan in mealplans %}
		<!-- add styling later -->
		<div class="col-md-12">
			<h2 style="font-weight: bold;">{{mealplan.name}}</h2>
		</div>
<!-- 		<div class="col-md-12">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-11"><bold>{{mealplan.name}}</bold></div>
		</div>
 -->
		<div class="col-md-12">
			<button class="col-md-1 btn btn-default" data-toggle="collapse" data-target="#{{mealplan.key.id()}}">
			New Meal</button>
			<div id="{{mealplan.key.id()}}" class="col-md-10 panel-collapse collapse">
				<form action="/new_meal" method="post" class="pull-right">
					<input type="hidden" name="plan" value={{mealplan.key.id()}}>
					<input name="name" placeholder="Meal Name" required class="btn">
					<button class="btn btn-primary" type="submit">OK</button>
				</form>
			</div>
			<div style="clear:both;"></div>
		</div>
		
		<br />
		<br />

		<!-- new meal button! -->
		<!-- need some dynamic shit here	 -->
		{% for meal in mealplan.getMeals() %}
		{% if meal %}
		<div class="col-md-12">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-11"><h3>{{meal.name}}</h3></div>
		</div>
		<!-- ADD FOOD button! -->
		<div class="col-md-12">
			<div class="col-md-1">&nbsp;</div>
			<button class="col-md-1 btn btn-default" data-toggle="collapse" data-target="#{{meal.key.id()}}">
			New Food</button>
			<div id="{{meal.key.id()}}" class="col-md-10 panel-collapse collapse">
				<form action="/add_food" method="post" class="pull-left">
					<input type="hidden" name="plan" value={{meal.key.id()}}>
					<input name="name" placeholder="Food Name" required class="btn">
					<!-- need some dynamic shit here -->
					<button class="btn btn-primary" type="submit">OK</button>
				</form>
			</div>
			<div style="clear:both;"></div>
		</div>
		{% for food in meal.getFoods() %}
		{% if food %}
		<h3>{{food.name}}</h3>
			<!-- figure out the delete -->
<!-- 			<form action="/delete_meal" method="post" class="pull-right">
				<input type="hidden" name="id" value="{{food.key.id()}}">
				<button class="pull-right" type="submit" class="close"><span>&times;</span></button>
			</form>
 -->
			{# 
			<!-- CREATES FOOD -->
			{% block foodform %}{% endblock %}
			#}
		{% endif %}
		{% endfor %}

		{% endif %}
		{% endfor %}

		{% endfor %}
		{% endif %}
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".tooltips").tooltip();
			$(".fa").click(function () {
				$(this).toggleClass("fa-search-plus").toggleClass("fa-search-minus")
			});
		})
	</script>

{% endblock %}